{{> ../../components/header-wrap.hbs}}

{{> ../../components/header.hbs}}

<section class="baner">
  <div class="container">
    <div class="baner__main">
      <div class="baner__offer">
        <div class="baner__title">Быстрая доставка вкусной японской еды</div>
        <button class="baner__btn">Посмотреть меню</button>
      </div>
      <div class="baner__slider-section">
        <div class="swiper baner-slider">
          <div class="swiper-wrapper">
            {{> ../../components/baner-slide.hbs}}
            {{> ../../components/baner-slide.hbs}}
            {{> ../../components/baner-slide.hbs}}
          </div>
          <div class="swiper-pagination pagination-baner"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Роллы</div>
          <div class="box__img-box"><img src="@assets/img/rolls.png" alt="" class="box__img"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Сеты</div>
          <div class="box__img-box"><img src="@assets/img/sets.png" alt="" class="box__img"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Запеченные роллы</div>
          <div class="box__img-box"><img src="@assets/img/hotRolls.png" alt="" class="box__img"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Воки</div>
          <div class="box__img-box"><img src="@assets/img/voks.png" alt="" class="box__img"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Супы</div>
          <div class="box__img-box"><img src="@assets/img/sup.png" alt="" class="box__img"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="box">
          <div class="box__title">Напитки</div>
          <div class="box__img-box"><img src="@assets/img/drinks.png" alt="" class="box__img"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popular">
  <div class="container">
    <div class="popular__title">Популярное</div>
    <div class="swiper popular">
      <div class="swiper-wrapper popular__slider-wrapper">
        {{#each cards}}
        {{> ../../components/card-slider-main.hbs}}
        {{/each}}
      </div>
      <div class="scrollbar-popular"></div>
    </div>
  </div>
</section>

{{> ../../components/footer.hbs}}

{{> ../../components/footer-wrap.hbs}}