{{> ../../components/header-wrap.hbs}}

{{> ../../components/header.hbs}}

<section class="contacts">
  <div class="container">
    <div class="sectionTitle">
      Контакты
    </div>
    <div class="contacts__baner">
      <div class="contacts__content">
        <div class="contacts__info">
          <div class="contBlock">
            <div class="contBlock__icon">
              <img src="@assets/icon/location.svg" alt="">
            </div>
            <div class="contBlock__info">
              <div class="contBlock__title">АДРЕС</div>
              <div class="contBlock__title-sub">г. Москва, ул. Московская, 56</div>
            </div>
          </div>
          <div class="contBlock">
            <div class="contBlock__icon">
              <img src="@assets/icon/phoneCont.svg" alt="">
            </div>
            <div class="contBlock__info">
              <div class="contBlock__title">ТЕЛЕФОН</div>
              <div class="contBlock__title-sub">7 (495) 450-600</div>
              <div class="contBlock__dsc">7 (901) 341- 54-30</div>
            </div>
          </div>
          <div class="contBlock">
            <div class="contBlock__icon">
              <img src="@assets/icon/email.svg" alt="">
            </div>
            <div class="contBlock__info">
              <div class="contBlock__title">E-MAIL</div>
              <div class="contBlock__title-sub">info@oishi-sushi.ru</div>
            </div>
          </div>
          <div class="contBlock">
            <div class="contBlock__icon">
              <img src="@assets/icon/time.svg" alt="">
            </div>
            <div class="contBlock__info">
              <div class="contBlock__title">РЕЖИМ РАБОТЫ</div>
              <div class="contBlock__title-sub">Ежедневно с 9:00 до 00:00</div>
            </div>
          </div>
        </div>
        <div class="contacts__map">
          <div style="position:relative;overflow:hidden;"><iframe
              src="https://yandex.ru/map-widget/v1/?ll=53.261394%2C56.875143&mode=whatshere&whatshere%5Bpoint%5D=53.259221%2C56.875312&whatshere%5Bzoom%5D=17&z=17.25"
              width="1165" height="463" border-radius="6px" frameborder="1" allowfullscreen="true"
              style="position:relative;"></iframe></div>
        </div>
      </div>
    </div>
  </div>
</section>



{{> ../../components/popup.hbs}}

{{> ../../components/footer.hbs}}

{{> ../../components/footer-wrap.hbs}}