@font-face {
  font-family: "Igra Sans";
  src: url("~@assets/font/IgraSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.test {
  width: 20px;
  height: 20px;
  //background-image: url("~@assets/img/performer2.jpg");
}

.body {
  font-family: "Igra Sans";
  background-color: #e5e5e5;
  color: #404040;
  padding: 40px 20px;
  overflow-x: hidden;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__btn-logo {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }

  &__logo {
    font-size: 21px;
  }

  &__btn {
    padding: 15px 20px;
    background: #f0af3b;
    color: #fff;
    border-radius: 6px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .header {
    &__line {
      &:first-child {
        height: 2px;
        width: 19px;
        background-color: #fff;
        border-radius: 4px;
      }

      &:nth-child(2) {
        margin-top: 4px;
        height: 2px;
        width: 11px;
        background-color: #fff;
        border-radius: 4px;
      }

      &:nth-child(3) {
        margin-top: 4px;
        height: 2px;
        width: 19px;
        background-color: #fff;
        border-radius: 4px;
      }
    }
  }

  &__btn-name {
    margin-left: 10px;
    font-size: 12px;
  }

  &__info {
    display: flex;
    font-size: 14px;
  }

  &__item {
    margin-right: 50px;
  }

  //--part two

  &__info {
    font-family: "roboto";
    font-weight: 500;
  }

  &__orders {
    display: flex;
    align-items: center;
  }

  &__orders-times {
    font-family: "roboto";
    font-weight: 500;
    margin-right: 30px;
  }

  &__orders-text {
    margin-bottom: 2px;
    font-size: 12px;
    color: #999999;
  }

  &__phone {
    font-family: "roboto";
    font-weight: 500;
    border: 2px dashed #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    margin-right: 30px;
  }

  &__phone-icon {
    margin-right: 16px;
  }

  &__btn-icon {
    width: 46px;
    height: 46px;
    background: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }

  &__btn-basket {
    font-family: "roboto";
    font-weight: 500;
    background: #fff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 15px 22px 15px;
  }

  &__basket-wrapper {
    display: flex;
  }

  &__basket-sum {
    margin-right: 7px;
  }
}

.baner {
  position: relative;
  margin-bottom: 40px;

  &__main {
    background: #ffffff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__offer {
    padding-left: 50px;
  }

  &__title {
    font-size: 44px;
    max-width: 524px;
    margin-bottom: 26px;
  }

  &__btn {
    font-family: "Igra Sans";
    background: #f0af3b;
    box-shadow: 0px 20px 45px rgb(0 0 0 / 7%), 0px 15px 30px rgb(240 175 59 / 20%);
    border-radius: 6px;
    padding: 20px 30px;
    font-size: 16px;
    color: #fff;
  }

  &__slider-bg {
    background-color: #f7f7f7;
    border-radius: 8px;
    width: 633px;
    height: 418px;
    margin-left: 170px;
  }

  &__slider-section {
    background-color: #f7f7f7;
    border-radius: 8px;
    width: 633px;
    height: 418px;
    margin-left: 170px;
  }

  &__img-box {
    position: absolute;
    top: 77px;
    left: 40px;
    height: 254px;
  }

  &__slider-title {
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 10px;
  }

  &__slider-name {
    font-size: 32px;
    margin-bottom: 10px;
  }

  &__slider-discription {
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__content {
    padding-top: 60px;
    padding-left: 50%;
  }

  &__info {
    display: flex;
    position: relative;
    margin-bottom: 40px;
    align-items: center;
  }

  &__price {
    position: absolute;
    left: 37px;
    top: 9px;
  }

  &__weight {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-left: 26px;
  }

  &__btn-add {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &__btn-bg {
    width: 47px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  }

  &__btn-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 7px 10px;
    z-index: 2;
  }

  &__btn-white {
    background-color: white;
    color: #000000;
    border-radius: 6px;
    padding: 20px 30px;
    display: inline-flex;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }

  &__counter {
    margin: 4px 0px;
  }

  &__basket {
    padding-left: 18px;
  }

  .swiper {
    margin-left: -145px;
    height: 390px;
  }

  .swiper-pagination-bullet {
    width: 46px;
    height: 5px;
    border-radius: 6px;
    background-color: #adadad;
  }

  .swiper-pagination-horizontal {
    bottom: 10px;
    left: 90px;
    width: 100%;
  }

  .swiper-pagination-bullet-active {
    background-color: #f0af3b;
  }
}

.menu {
  margin-bottom: 60px;

  .box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 30px 40px;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;

    &__img-box {
      width: 176px;
      height: 160px;
    }

    &__title {
      padding: 30px;
      font-size: 26px;
    }

    &__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.footer {
  margin-bottom: 50px;

  &__content {
    background: #ffffff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 44px 50px;
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
  }

  &__addres {
    margin-right: 75px;
  }

  &__contacts-title {
    font-family: "roboto";
    font-weight: 400;
    color: #999999;
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__contacts-sub-title {
    font-family: "roboto";
    font-weight: 400;
  }

  &__title {
    font-family: "roboto";
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  &__sub-title {
    font-size: 12px;
    color: #f0af3b;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-mob {
  display: none;
}

.popular {
  margin-bottom: 100px;

  &__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  &__card {
    width: 391px;
    height: 548px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  }

  &__card-visual {
    display: flex;
    justify-content: space-between;
  }

  &__vis-img {
    height: 177px;
    width: 171px;
    position: absolute;
    top: 35px;
    left: 112px;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__likes {
    display: flex;
    align-items: center;
  }

  &__like-box {
    height: 14px;
    width: 16px;
    margin-right: 5px;
  }

  &__likes-icon:hover {
    //background-image: url("../svg/icon-like-on.svg");
  }

  &__like-num {
    margin-left: 5px;
    font-size: 12px;
  }

  &__info {
    display: flex;
    position: relative;
    margin-bottom: 33px;
    align-items: center;
  }

  &__card-title {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 11px;
  }

  &__card-name {
    font-size: 20px;
    margin-bottom: 14px;
  }

  &__card-composition {
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 24px;
    opacity: 0.7;
  }

  &__price {
    position: absolute;
    left: 37px;
    top: 9px;
  }

  &__weight {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-left: 26px;
  }

  &__btn-add {
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &__btn-bg {
    width: 47px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.07);
  }

  &__btn-setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 7px 10px;
    z-index: 2;
  }

  &__btn-orange {
    background-color: #f0af3b;
    color: #fff;
    border-radius: 6px;
    padding: 20px 52px;
    box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.07), 0px 15px 30px rgba(240, 175, 59, 0.2);
    z-index: 2;
    display: flex;
    align-items: center;
  }

  &__counter {
    margin: 4px 0px;
  }

  &__basket {
    padding-left: 10px;
  }

  &__likes-icon {
    cursor: pointer;
  }

  &__likes-icon:hover {
    //background-image: url("../svg/icon-like-on.svg");
  }

  .swiper {
    height: 583px;
    overflow: visible;
  }

  .swiper-wrapper {
    height: 548px;
  }

  .swiper-scrollbar-drag {
    position: relative;
    height: 8px;
    top: -2px;
    background: #f0af3b;
    cursor: pointer;
    border-radius: 4px;
  }

  .scrollbar-popular {
    position: absolute;
    left: 40%;
    bottom: 3px;
    z-index: 10;
    height: 4px;
    width: 30%;
    border-radius: 6px;
    background: rgba(64, 64, 64, 0.1450980392);
  }
}

//--contacts

.contacts {
  margin-bottom: 60px;

  &__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  &__baner {
    background: #ffffff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 40px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    padding: 20px;
  }

  &__adres {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__adres-icon {
    margin-right: 30px;
  }

  &__adres-title {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }

  &__adres-sub-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__phone-title {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }

  &__phone-sub-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
  }

  &__phone-sub-title-two {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
  }

  &__phone-icon {
    margin-right: 30px;
  }

  &__mail {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__mail-title {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }

  &__mail-sub-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
  }

  &__mail-icon {
    margin-right: 30px;
  }

  &__time {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__time-title {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }

  &__time-sub-title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
  }

  &__time-icon {
    margin-right: 30px;
  }

  &__map {
    width: 1165px;
    height: 463px;
    background: #000;
    border-radius: 6px;
  }
}

.order {
  margin-bottom: 60px;

  &__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  &__card {
    display: flex;
    justify-content: space-around;
    width: 801px;
    align-items: center;
    padding: 26px 0;
    border-bottom: #F7F7F7 solid 2px;
  }

  &__content {
    display: flex;
  }

  &__chosen {
    background: #ffffff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 40px;
  }

  &__icons {
    margin-right: 30px;
  }

  &__img {
    margin-right: 40px;
  }


  &__counter {
    display: flex;
    margin-right: 50px;
  }

  &__btn-plus{
    margin-right: 9px;
  }

  &__counter-num{
    margin-right: 12px;
  }



  &__price {
    margin-right: 50px;
  }

  &__data {
    background: #ffffff;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 5%);
    border-radius: 6px;
    padding: 40px;
    margin-left: 18px;
    display: flex;
  }

  &__data-personal{
    margin-right: 40px;
  }

  &__personal-title {
    margin-bottom: 26px;
  }

  &__personal-name {
    margin-bottom: 4px;
  }

  &__line-name {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  &__personal-phone {
    margin-bottom: 4px;
  }

  &__line-phone {
    margin-bottom: 30px;
  }

  &__line-phone {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
  }

  &__deliviry-title {
    margin-bottom: 26px;
  }

  &__adres {
    margin-bottom: 4px;
  }

  &__line-adres {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  &__deliviry-st {
    margin-bottom: 4px;
  }

  &__line-st {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  &__house-num {
    margin-bottom: 4px;
  }

  &__line-house {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  &__apartment {
    margin-bottom: 4px;
  }

  &__apart-num {
    background-color: #f5f7fa;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }











  &__total {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
  }
}
