

@font-face {
  font-family: "Igra Sans";
  src: url("~@assets/font/IgraSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.test {
  width: 20px;
  height: 20px;
  background-image: url("~@assets/img/performer2.jpg");
}