<div class="swiper-slide baner-slide">
  <div class="baner__img-box"><img src="@assets/img/maki.png" alt=""></div>
  <div class="baner__content">
    <div class="baner__slider-title">Ролл</div>
    <div class="baner__slider-name">Maki</div>
    <div class="baner__slider-discription">Лосось, рис, салат, кунжут, нори</div>
    <div class="baner__info">
      <div class="baner__price">320 Р</div>
      <img src="@assets/icon/rectangle.svg" alt="">
      <div class="baner__weight">260 гр / 6 шт.</div>
    </div>
    <div class="baner__btn-add">
      <div class="counter" data-coun>
        <div class="counter__wrapper">
          <img src="@assets/icon/plus.svg" alt="" class="counter__button counter__butPlus">
          <input type="text" disabled value="1" class="input-counter--start">
          <img src="@assets/icon/minus.svg" alt="" class="counter__button counter__butMinus">
        </div>
      </div>
      <div class="baner__btn-white">
        Добавить к заказу
        <img src="@assets/icon/basket.svg" alt="" class="baner__basket">
      </div>
    </div>
  </div>
</div>