<div class="cardOrder">
  <div class="cardOrder__icons">
    <img src="@assets/icon/star.svg" alt="">
  </div>
  <div class="cardOrder__img">
    <img class="cardOrder__img-assets" src="@assets/img/rollCalifornia" alt="">
  </div>
  <div class="cardOrder__name">
    <div class="cardOrder__title">
      Ролл
    </div>
    <div class="cardOrder__pos-subTitle">
      Калифорния
    </div>
  </div>
  <div class="counter" data-coun>
    <img src="@assets/icon/plus.svg" alt="" class="counter__button counter__butPlus">
    <input type="text" disabled value="1" class="input-counter">
    <img src="@assets/icon/minus.svg" alt="" class="counter__button counter__butMinus">
  </div>
  <div class="cardOrder__price">
    320 р
  </div>
  <div class="cardOrder__cross">
    <img src="@assets/icon/delete" alt="">
  </div>
</div>