<footer class="footer">
    <div class="container">
      <div class="footer__content">
        <div class="footer__data">
          <div class="footer__title">
            © 2023 OishīSushi
          </div>
          <div class="footer__sub-title">
            Согласие на обработку персональных данных
          </div>
        </div>
        <div class="footer__contacts">
          <div class="footer__addres">
            <div class="footer__contacts-title">АДРЕС</div>
            <div class="footer__contacts-sub-title">г. Москва, ул. Московская, 56</div>
          </div>
          <div class="footer__phone">
            <div class="footer__contacts-title">
              ТЕЛЕФОН
            </div>
            <div class="footer__contacts-sub-title">
              7 (495) 450 - 600
            </div>
          </div>
        </div>
        <div class="footer__social">
          <div class="footer__social-item"><img src="@assets/icon/footer_vk.svg" alt=""></div>
          <div class="footer__social-item"><img src="@assets/icon/footer_odnoklass.svg" alt=""></div>
          <div class="footer__social-item"><img src="@assets/icon/footer_facebook.svg" alt=""></div>
          <div class="footer__social-item"><img src="@assets/icon/footer_inst.svg" alt=""></div>
        </div>
      </div>
    </div>
  </footer>