
<header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__menu">
          <div class="header__btn-logo">
            <div class="header__btn">
              <div class="header__lines">
                <div class="header__line"></div>
                <div class="header__line"></div>
                <div class="header__line"></div>
              </div>
              <div class="header__btn-name">
                МЕНЮ
              </div>
            </div>
            <div class="header__logo">
              <img src="@assets/icon/logo.svg" alt="">
            </div>
          </div>
          <div class="header__info">
            <a href="http://localhost:8080/account#"><div class="header__item">Условия доставки</div></a>
            <div class="header__item">Акции</div>
            <a href="http://localhost:8080/vacancies#"><div class="header__item">Вакансии</div></a>
            <a href="http://localhost:8080/contacts#"><div class="header__item">Контакты</div></a>
          </div>
        </div>
        <div class="header__orders">
          <div class="header__orders-times">
            <div class="header__orders-text">Прием заказов</div>
            <div class="header__orders-time">9:00 — 00:00</div>
          </div>
          <div class="header__phone">
            <div class="header__phone__wrapper">
              <img src="@assets/icon/phone.svg" alt="" class="header__phone-icon">
              7 (495) 450 - 600
            </div>
          </div>
          <div class="header__btn-icon">
            <div class="header__icon-wrapper">
              <img src="@assets/icon/account.svg" alt="" class="header__icon open-popup">
            </div>
          </div>
          <div class="header__btn-icon">
            <div class="header__icon-wrapper">
              <img src="@assets/icon/like.svg" alt="" class="header-icon">
            </div>
          </div>
          <div class="header__btn-basket">
            <div class="header__basket-wrapper">
              <div class="header__basket-sum">770 ₽</div>
              <img src="@assets/icon/basket.svg" alt="" class="header__basket-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  