<div class="popup">
  <div class="popup__header">
    <div class="popup__enter">Вход</div>
    <div class="popup__reg">Регистрация</div>
  </div>
  <div class="input">
    <input id="phone-mask" type="text" value="">
    <div class="input__title">Номер телефона</div>
    <input id="phone-mask" type="text" value="">
    <input class="input__line" type="text" placeholder="Номер">
  </div>
  <div class="input">
    <div class="input__title">Пароль</div>
    <input class="input__line" type="text" placeholder="Пароль">
  </div>
  <button class="baner__btn">
    Войти
  </button>
</div>


<div class="bd">
  <div class="in__wrapper">
    <input id="pass" placeholder="Пароль" type="password" value="" class="password">
    <div class="btn__pass">+</div>
  </div>
</div>
