<div class="popup">
  <div class="popup__block">
    <img src="@assets/icon/cross-popup.svg" alt="" class="popup__cross popup__close">
    <div class="popup__header">
      <div class="popup__enter">Вход</div>
      <div class="popup__reg">Регистрация</div>
    </div>
    <div class="input">
      <div class="input__title">Номер телефона</div>
      <input id="phone-mask" class="input__line" type="text" placeholder="Номер">
    </div>
    <div class="input">
      <div class="input__title">Пароль</div>
      <div class="input__wrapper">
        <input class="input__line-password" type="password" placeholder="Пароль">
        <div class="input__glass"><img src="@assets/icon/eye" alt="" class="input__glassIcon"></div>
      </div>
    </div>
    <div class="popup__btn">
      <button class="baner__btn">Войти</button>
      <button class="input__losePass ">Забыли пароль?</button>
    </div>
  </div>
</div>
