<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/miso.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Суп</div>
            <div class="popular__card-name">Мисо</div>
            <div class="popular__card-composition">Сыр тофу, бульон из комбу и тунца,
              вакаме, паста мисо, лук-порей</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/wok.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Вок</div>
            <div class="popular__card-name">С тофу и яицом</div>
            <div class="popular__card-composition">Лапша соба, яица перепелиные, тофу,
              лук-порей, зелень, соевые соус</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/fill.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Филадельфия</div>
            <div class="popular__card-composition">Рис, лосось, сыр филадельфия,
              авокадо, нори</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/rollCalifornia.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">54</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Калифорния</div>
            <div class="popular__card-composition">Нори, креветка, авокадо, огурец</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
      col-sm-6
      col-md-4
      col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/temiki.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">РОЛЛ</div>
            <div class="popular__card-name">Темаки с лососем</div>
            <div class="popular__card-composition">Лосось, нори, кунжут, рис</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                280 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/fill.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Филадельфия</div>
            <div class="popular__card-composition">Рис, лосось, сыр филадельфия,
              авокадо, нори</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/wok.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Вок</div>
            <div class="popular__card-name">С тофу и яицом</div>
            <div class="popular__card-composition">Лапша соба, яица перепелиные, тофу,
              лук-порей, зелень, соевые соус</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
col-sm-6
col-md-4
col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/miso.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Суп</div>
            <div class="popular__card-name">Мисо</div>
            <div class="popular__card-composition">Сыр тофу, бульон из комбу и тунца,
              вакаме, паста мисо, лук-порей</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
col-sm-6
col-md-4
col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/miso.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Суп</div>
            <div class="popular__card-name">Мисо</div>
            <div class="popular__card-composition">Сыр тофу, бульон из комбу и тунца,
              вакаме, паста мисо, лук-порей</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/wok.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Вок</div>
            <div class="popular__card-name">С тофу и яицом</div>
            <div class="popular__card-composition">Лапша соба, яица перепелиные, тофу,
              лук-порей, зелень, соевые соус</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/fill.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Филадельфия</div>
            <div class="popular__card-composition">Рис, лосось, сыр филадельфия,
              авокадо, нори</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/rollCalifornia.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">54</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Калифорния</div>
            <div class="popular__card-composition">Нори, креветка, авокадо, огурец</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
      col-sm-6
      col-md-4
      col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/temiki.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">РОЛЛ</div>
            <div class="popular__card-name">Темаки с лососем</div>
            <div class="popular__card-composition">Лосось, нори, кунжут, рис</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                280 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/fill.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Ролл</div>
            <div class="popular__card-name">Филадельфия</div>
            <div class="popular__card-composition">Рис, лосось, сыр филадельфия,
              авокадо, нори</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                260 гр / 6 шт.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
                  col-sm-6
                  col-md-4
                  col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/wok.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">26</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Вок</div>
            <div class="popular__card-name">С тофу и яицом</div>
            <div class="popular__card-composition">Лапша соба, яица перепелиные, тофу,
              лук-порей, зелень, соевые соус</div>
            <div class="popular__info">
              <div class="popular__price">
                320 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-8
col-sm-6
col-md-4
col-lg-3">
        <div class="swiper-slide popular__card">
          <div class="popular__card-visual">
            <div class="popular__icon">
              <img src="@assets/icon/star.svg" alt="">
            </div>
            <div class="popular__vis-img">
              <img src="@assets/img/miso.png" alt="" class="popular__img">
            </div>
            <div class="popular__likes">
              <div class="popular__like-box">
                <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
              </div>
              <div class="popular__like-num">41</div>
            </div>
          </div>
          <div class="popular__card-desk">
            <div class="popular__card-title">Суп</div>
            <div class="popular__card-name">Мисо</div>
            <div class="popular__card-composition">Сыр тофу, бульон из комбу и тунца,
              вакаме, паста мисо, лук-порей</div>
            <div class="popular__info">
              <div class="popular__price">
                400 Р
              </div>
              <img src="@assets/icon/rectangle.svg" alt="">
              <div class="popular__weight">
                350 гр.
              </div>
            </div>
            <div class="popular__btn-add">
              <div class="popular__btn-bg"></div>
              <div class="popular__btn-setting">
                <div class="popular__btn-plus">
                  <img src="@assets/icon/plus.svg" alt="">
                </div>
                <div class="popular__counter">1</div>
                <div class="popular__btn-minus">
                  <img src="@assets/icon/minus.svg" alt="">
                </div>
              </div>
              <button class="popular__btn-orange">
                Добавить к заказу
                <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>