<div class="accordion__wrapper">
  <div class="accordion">
    <div class="accordion__container">
      <div class="accordion__title">Вакансии</div>
      <div class="accordion ac">
        <h2 class="accordion__header ac-header">
          <button type="button" class="accordion__trigger ac-trigger">Повар</button>
        </h2>
        <div class="accordion__panel ac-panel">
          <div class="accordion__block ac-text">
            <div class="accordion__text">
              Задача организации, в особенности же новая модель организационной деятельности
              представляет собой интересный эксперимент проверки новых предложений. Равным образом сложившаяся структура
              организации влечет за собой процесс внедрения и модернизации существенных финансовых и административных
              условий.
            </div>
            <div class="requirements">
              <div class="requirements__title">
                Требования
              </div>
              <div class="requirements__desc">
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">опыт paбoты повaром oт 1 гoдa;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">нaличиe медицинcкoй книжки или готовнoсть eе cделать;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">жeланиe paботaть и рaзвивaться.</div>
                </div>
                <div class="requirements__btn">Оставить заявку</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion ac">
        <h2 class="accordion__header ac-header">
          <button type="button" class="accordion__trigger ac-trigger">Водитель-курьер </button>
        </h2>
        <div class="accordion__panel ac-panel">
          <div class="accordion__block ac-text">
            <div class="accordion__text">В службу доставки «OishiSushi» в связи с увеличением заказов срочно
              требуется курьер на подработку в вечернее время.
              На одном маршруте минимум 3-4 заказа. Доставка осуществляется по районам.
            </div>
            <div class="requirements">
              <div class="requirements__title">
                Требования
              </div>
              <div class="requirements__desc">
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">телефон на базе Андроид или IPhone;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">личный автомобиль;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">жeланиe paботaть.</div>
                </div>
                <div class="requirements__btn">Оставить заявку</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion ac">
        <h2 class="accordion__header ac-header">
          <button type="button" class="accordion__trigger ac-trigger">Менеджер приему заказов</button>
        </h2>
        <div class="accordion__panel ac-panel">
          <div class="accordion__block ac-text">
            <div class="accordion__text">
              Мы - лидирующий контактный центр, только вдумайся, мы уже присутствуем в 15 городах, а открываем новые
              горизонты с помощью более 1 800 сотрудников. Нам доверяют самые крутые банки, телеком-компании,
              интернет-магазины и многие другие.
              Мы в поисках специалиста по обработке обращений пользователей известной социальной сети.
            </div>
            <div class="requirements">
              <div class="requirements__title">
                Требования
              </div>
              <div class="requirements__desc">
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">грамотная и быстрая речь;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">стремлением к развитию и профессиональному росту;</div>
                </div>
                <div class="requirements__points">
                  <div class="requirements__iconPoint"><img src="@assets/icon/accPoints.svg" alt=""
                      class="requirements__icon"></div>
                  <div class="points">уверенными навыками работы с ПК.</div>
                </div>
                <div class="requirements__btn">Оставить заявку</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>