{{> ../../components/header-wrap.hbs}}

{{> ../../components/header.hbs}}

<div class="container">
  <div class="sectionTitle">Личный кабинет</div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="account">
        <div class="account__bio">
          <img src="@assets/img/ava.png" alt="">
          <div class="account__data">
            <div class="account__name">Олег Хамитов</div>
            <div class="account__phone">7 (901) 324 - 98 - 12</div>
            <div class="account__edit">Редактировать профиль</div>
            <div class="account__exit">Выйти</div>
          </div>
        </div>
        <div class="account__bonus">
          <div class="account__bonusTitle">У вас 397 быллов</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="block-address">
        <div class="block-address__title">Мои адреса</div>
      </div>
    </div>
  </div>


  {{> ../../components/footer.hbs}}

  {{> ../../components/footer-wrap.hbs}}